<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vpp.core.customer.mapper.CustomerMapper">
	<resultMap id="BaseResultMap" type="com.vpp.core.customer.bean.Customer">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="outer_id" property="outerId" jdbcType="VARCHAR" />
		<result column="nick_name" property="nickName" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="phone" property="phone" jdbcType="VARCHAR" />
		<result column="mobile" property="mobile" jdbcType="VARCHAR" />
		<result column="id_card" property="idCard" jdbcType="VARCHAR" />
		<result column="passport_number" property="passportNumber"
			jdbcType="VARCHAR" />
		<result column="sex" property="sex" jdbcType="TINYINT" />
		<result column="email" property="email" jdbcType="VARCHAR" />
		<result column="address" property="address" jdbcType="VARCHAR" />
		<result column="level" property="level" jdbcType="TINYINT" />
		<result column="password" property="password" jdbcType="VARCHAR" />
		<result column="pay_password" property="payPassword" jdbcType="VARCHAR" />
		<result column="source" property="source" jdbcType="VARCHAR" />
		<result column="state" property="state" jdbcType="TINYINT" />
		<result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
		<result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
		<result column="description" property="description" jdbcType="VARCHAR" />
		<result column="balance" property="balance" jdbcType="DECIMAL" />
		<result column="deposit_address" property="depositAddress"
			jdbcType="VARCHAR" />
		<result column="withdrawal_address" property="withdrawalAddress"
			jdbcType="VARCHAR" />
		<result column="invite_code" property="inviteCode" jdbcType="VARCHAR" />
		<result column="invite_up" property="inviteUp" jdbcType="INTEGER" />
		<result column="invite_from" property="inviteFrom" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, outer_id, nick_name, name, phone, mobile, id_card, passport_number,
		sex, email,
		address, level, password, pay_password, source, state, gmt_create,
		gmt_modified,
		description, balance, deposit_address, withdrawal_address, invite_code, invite_up,
		invite_from
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from customer
		where id = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from customer
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="com.vpp.core.customer.bean.Customer">
		insert into customer (id, outer_id, nick_name,
		name, phone, mobile,
		id_card, passport_number, sex,
		email, address, level,
		password, pay_password, source,
		state, gmt_create, gmt_modified,
		description, balance, deposit_address,
		withdrawal_address, invite_code, invite_up,
		invite_from)
		values (#{id,jdbcType=BIGINT}, #{outerId,jdbcType=VARCHAR},
		#{nickName,jdbcType=VARCHAR},
		#{name,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR},
		#{idCard,jdbcType=VARCHAR}, #{passportNumber,jdbcType=VARCHAR},
		#{sex,jdbcType=TINYINT},
		#{email,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{level,jdbcType=TINYINT},
		#{password,jdbcType=VARCHAR}, #{payPassword,jdbcType=VARCHAR},
		#{source,jdbcType=VARCHAR},
		#{state,jdbcType=TINYINT}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP},
		#{description,jdbcType=VARCHAR}, #{balance,jdbcType=DECIMAL},
		#{depositAddress,jdbcType=VARCHAR},
		#{withdrawalAddress,jdbcType=VARCHAR}, #{inviteCode,jdbcType=VARCHAR},
		#{inviteUp,jdbcType=INTEGER},
		#{inviteFrom,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" useGeneratedKeys="true"
		keyProperty="id" parameterType="com.vpp.core.customer.bean.Customer">
		insert into customer
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="outerId != null">
				outer_id,
			</if>
			<if test="nickName != null">
				nick_name,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="phone != null">
				phone,
			</if>
			<if test="mobile != null">
				mobile,
			</if>
			<if test="idCard != null">
				id_card,
			</if>
			<if test="passportNumber != null">
				passport_number,
			</if>
			<if test="sex != null">
				sex,
			</if>
			<if test="email != null">
				email,
			</if>
			<if test="address != null">
				address,
			</if>
			<if test="level != null">
				level,
			</if>
			<if test="password != null">
				password,
			</if>
			<if test="payPassword != null">
				pay_password,
			</if>
			<if test="source != null">
				source,
			</if>
			<if test="state != null">
				state,
			</if>
			<if test="gmtCreate != null">
				gmt_create,
			</if>
			<if test="gmtModified != null">
				gmt_modified,
			</if>
			<if test="description != null">
				description,
			</if>
			<if test="balance != null">
				balance,
			</if>
			<if test="depositAddress != null">
				deposit_address,
			</if>
			<if test="withdrawalAddress != null">
				withdrawal_address,
			</if>
			<if test="inviteCode != null">
				invite_code,
			</if>
			<if test="inviteUp != null">
				invite_up,
			</if>
			<if test="inviteFrom != null">
				invite_from,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="outerId != null">
				#{outerId,jdbcType=VARCHAR},
			</if>
			<if test="nickName != null">
				#{nickName,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				#{phone,jdbcType=VARCHAR},
			</if>
			<if test="mobile != null">
				#{mobile,jdbcType=VARCHAR},
			</if>
			<if test="idCard != null">
				#{idCard,jdbcType=VARCHAR},
			</if>
			<if test="passportNumber != null">
				#{passportNumber,jdbcType=VARCHAR},
			</if>
			<if test="sex != null">
				#{sex,jdbcType=TINYINT},
			</if>
			<if test="email != null">
				#{email,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				#{address,jdbcType=VARCHAR},
			</if>
			<if test="level != null">
				#{level,jdbcType=TINYINT},
			</if>
			<if test="password != null">
				#{password,jdbcType=VARCHAR},
			</if>
			<if test="payPassword != null">
				#{payPassword,jdbcType=VARCHAR},
			</if>
			<if test="source != null">
				#{source,jdbcType=VARCHAR},
			</if>
			<if test="state != null">
				#{state,jdbcType=TINYINT},
			</if>
			<if test="gmtCreate != null">
				#{gmtCreate,jdbcType=TIMESTAMP},
			</if>
			<if test="gmtModified != null">
				#{gmtModified,jdbcType=TIMESTAMP},
			</if>
			<if test="description != null">
				#{description,jdbcType=VARCHAR},
			</if>
			<if test="balance != null">
				#{balance,jdbcType=DECIMAL},
			</if>
			<if test="depositAddress != null">
				#{depositAddress,jdbcType=VARCHAR},
			</if>
			<if test="withdrawalAddress != null">
				#{withdrawalAddress,jdbcType=VARCHAR},
			</if>
			<if test="inviteCode != null">
				#{inviteCode,jdbcType=VARCHAR},
			</if>
			<if test="inviteUp != null">
				#{inviteUp,jdbcType=INTEGER},
			</if>
			<if test="inviteFrom != null">
				#{inviteFrom,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.vpp.core.customer.bean.Customer">
		update customer
		<set>
			<if test="outerId != null">
				outer_id = #{outerId,jdbcType=VARCHAR},
			</if>
			<if test="nickName != null">
				nick_name = #{nickName,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				phone = #{phone,jdbcType=VARCHAR},
			</if>
			<if test="mobile != null">
				mobile = #{mobile,jdbcType=VARCHAR},
			</if>
			<if test="idCard != null">
				id_card = #{idCard,jdbcType=VARCHAR},
			</if>
			<if test="passportNumber != null">
				passport_number = #{passportNumber,jdbcType=VARCHAR},
			</if>
			<if test="sex != null">
				sex = #{sex,jdbcType=TINYINT},
			</if>
			<if test="email != null">
				email = #{email,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				address = #{address,jdbcType=VARCHAR},
			</if>
			<if test="level != null">
				level = #{level,jdbcType=TINYINT},
			</if>
			<if test="password != null">
				password = #{password,jdbcType=VARCHAR},
			</if>
			<if test="payPassword != null">
				pay_password = #{payPassword,jdbcType=VARCHAR},
			</if>
			<if test="source != null">
				source = #{source,jdbcType=VARCHAR},
			</if>
			<if test="state != null">
				state = #{state,jdbcType=TINYINT},
			</if>
			<if test="gmtCreate != null">
				gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
			</if>
			<if test="gmtModified != null">
				gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
			</if>
			<if test="description != null">
				description = #{description,jdbcType=VARCHAR},
			</if>
			<if test="balance != null">
				balance = #{balance,jdbcType=DECIMAL},
			</if>
			<if test="depositAddress != null">
				deposit_address = #{depositAddress,jdbcType=VARCHAR},
			</if>
			<if test="withdrawalAddress != null">
				withdrawal_address = #{withdrawalAddress,jdbcType=VARCHAR},
			</if>
			<if test="inviteCode != null">
				invite_code = #{inviteCode,jdbcType=VARCHAR},
			</if>
			<if test="inviteUp != null">
				invite_up = #{inviteUp,jdbcType=INTEGER},
			</if>
			<if test="inviteFrom != null">
				invite_from = #{inviteFrom,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.vpp.core.customer.bean.Customer">
		update customer
		set outer_id = #{outerId,jdbcType=VARCHAR},
		nick_name = #{nickName,jdbcType=VARCHAR},
		name = #{name,jdbcType=VARCHAR},
		phone = #{phone,jdbcType=VARCHAR},
		mobile = #{mobile,jdbcType=VARCHAR},
		id_card = #{idCard,jdbcType=VARCHAR},
		passport_number = #{passportNumber,jdbcType=VARCHAR},
		sex = #{sex,jdbcType=TINYINT},
		email = #{email,jdbcType=VARCHAR},
		address = #{address,jdbcType=VARCHAR},
		level = #{level,jdbcType=TINYINT},
		password = #{password,jdbcType=VARCHAR},
		pay_password = #{payPassword,jdbcType=VARCHAR},
		source = #{source,jdbcType=VARCHAR},
		state = #{state,jdbcType=TINYINT},
		gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
		gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
		description = #{description,jdbcType=VARCHAR},
		balance = #{balance,jdbcType=DECIMAL},
		deposit_address = #{depositAddress,jdbcType=VARCHAR},
		withdrawal_address = #{withdrawalAddress,jdbcType=VARCHAR},
		invite_code = #{inviteCode,jdbcType=VARCHAR},
		invite_up = #{inviteUp,jdbcType=INTEGER},
		invite_from = #{inviteFrom,jdbcType=VARCHAR}
		where id = #{id,jdbcType=BIGINT}
	</update>

	<select id="selectCustomerByUserName" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select * from customer where mobile=#{userName}
	</select>
	<update id="updateCustomerBalance" parameterType="map">
		update customer
		set balance = balance + #{addBalance,jdbcType=DECIMAL}
		where id = #{customerId,jdbcType=BIGINT}
	</update>

	<select id="selectByCode" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select * from customer where invite_code =#{invitationCode}
	</select>

	<select id="getWalletAddress" resultType="java.lang.String"
		parameterType="java.lang.String">
		select deposit_address from customer where id=#{customerId}
	</select>

	<select id="selectByAddress" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select * from customer where deposit_address = #{address}
	</select>

	<update id="updatePayPassword" parameterType="map">
		update customer set pay_password = #{payPassword},gmt_modified=NOW() where
		id =#{id}
	</update>

	<select id="countInviteCode" resultType="int" parameterType="java.lang.String">
		select COUNT(id) from customer where invite_from = #{inviteCode}
	</select>

	<select id="findByMobile" resultMap="BaseResultMap">
		select * from customer where mobile = #{mobile}
	</select>
</mapper>