<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vpp.core.notice.mapper.NoticeMapper">
	<resultMap id="BaseResultMap" type="com.vpp.core.notice.bean.Notice">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="gmt_create" property="gmtCreate" jdbcType="VARCHAR" />
		<result column="gmt_modified" property="gmtModified" jdbcType="VARCHAR" />
		<result column="description" property="description" jdbcType="VARCHAR" />
		<result column="creater" property="creater" jdbcType="BIGINT" />
		<result column="mender" property="mender" jdbcType="BIGINT" />
		<result column="notice_title" property="noticeTitle" jdbcType="VARCHAR" />
		<result column="notice_content" property="noticeContent"
			jdbcType="VARCHAR" />
		<result column="notice_state" property="noticeState" jdbcType="TINYINT" />
	</resultMap>
	<sql id="Base_Column_List">
		id, gmt_create, gmt_modified, description, creater, mender,
		notice_title,
		notice_content,
		notice_state
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from notice
		where id = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from notice
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="com.vpp.core.notice.bean.Notice">
		insert into notice (id,
		gmt_create, gmt_modified,
		description, creater, mender,
		notice_title,
		notice_content, notice_state
		)
		values (#{id,jdbcType=BIGINT},
		#{gmtCreate,jdbcType=TIMESTAMP},
		#{gmtModified,jdbcType=TIMESTAMP},
		#{description,jdbcType=VARCHAR}, #{creater,jdbcType=BIGINT},
		#{mender,jdbcType=BIGINT},
		#{noticeTitle,jdbcType=VARCHAR},
		#{noticeContent,jdbcType=VARCHAR},
		#{noticeState,jdbcType=TINYINT}
		)
	</insert>
	<update id="updateByPrimaryKey" parameterType="com.vpp.core.notice.bean.Notice">
		update notice
		set
		gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
		gmt_modified =
		#{gmtModified,jdbcType=TIMESTAMP},
		description =
		#{description,jdbcType=VARCHAR},
		creater = #{creater,jdbcType=BIGINT},
		mender = #{mender,jdbcType=BIGINT},
		notice_title =
		#{noticeTitle,jdbcType=VARCHAR},
		notice_content =
		#{noticeContent,jdbcType=VARCHAR},
		notice_state =
		#{noticeState,jdbcType=TINYINT}
		where id = #{id,jdbcType=BIGINT}
	</update>

	<select id="findLimitByCond" resultMap="BaseResultMap">
		select * from notice where 1=1 
		<if test="title != null">
			and notice_title like CONCAT('%',#{title},'%')
		</if>
		<if test="noticeState != null">
			and notice_state = #{noticeState}
		</if>
		 order by id desc 
	</select>

	<select id="findLimit" resultMap="BaseResultMap" parameterType="map">
		select * from notice where 1=1 
		<if test="title != null">
			and notice_title like CONCAT('%',#{title},'%')
		</if>
		<if test="state != null">
			and notice_state = #{state}
		</if>
		 order by id desc 
	</select>
	
	<select id="findListByState" resultMap="BaseResultMap">
		select * from notice where notice_state = 1 
	</select>
</mapper>